[Unit]
Description=First boot script
After=network-online.target dbus-org.freedesktop.NetworkManager.target
Wants=network-online.target 

[Service]
Type=simple
ExecStart=/bin/bash /usr/local/bin/firstboot.sh
User=root

[Install]
WantedBy=default.target
