[Unit]
Documentation=man:lircd(8)
Documentation=http://lirc.org/html/configure.html
Description=Flexible IR remote input/output application support
Wants=lircd-setup.service
After=network.target lircd-setup.service

[Service]
Type=simple
ExecStart=/usr/local/sbin/lircd --nodaemon -O /etc/lirc/lirc_options.conf
PIDFile=/var/run/lirc/lircd.pid
User=smarthome
RemainAfterExit=no
StartLimitInterval=0
RuntimeDirectory=lirc

[Install]
WantedBy=multi-user.target
