[Unit]
Description=Loki service
After=network.target

[Service]
Type=simple
User=grafana
PermissionsStartOnly=true
ExecStartPre=+/usr/bin/mkdir -p /tmp/loki
ExecStartPre=+/usr/bin/chown grafana:adm /tmp/loki
ExecStart=/usr/local/bin/loki-linux-arm -config.file /etc/grafana/config-loki.yaml

[Install]
WantedBy=multi-user.target
