[Unit]
Description=Mosquitto MQTT Broker daemon
After=network.target
Requires=network.target

[Service]
Type=forking
User=mosquitto
RemainAfterExit=no
StartLimitInterval=0
RuntimeDirectory=mosquitto
PIDFile=/var/run/mosquitto/mosquitto.pid
ExecStart=/usr/local/sbin/mosquitto -c /etc/mosquitto/mosquitto.conf -d
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
