[Unit]
Description=Promtail service
After=network.target loki.service

[Service]
Type=simple
User=grafana
ExecStartPre=+/usr/bin/touch /tmp/positions.yaml
ExecStartPre=+/usr/bin/chown grafana:adm /tmp/positions.yaml
ExecStart=/usr/local/bin/promtail-linux-arm -config.file /etc/grafana/config-promtail.yaml

[Install]
WantedBy=multi-user.target
