[Unit]
Description=SmartHomeNG daemon
After=network.target knxd.service knxd.socket

[Service]
Type=forking
WorkingDirectory=/usr/local/smarthome
TimeoutStartSec=1900
ExecStart=/usr/bin/python /usr/local/smarthome/bin/smarthome.py
User=smarthome
PIDFile=/usr/local/smarthome/var/run/smarthome.pid
Restart=on-failure
RestartForceExitStatus=5
Nice=-20
IOSchedulingClass=realtime
IOSchedulingPriority=0
CPUSchedulingPolicy=rr
CPUSchedulingPriority=98
IOAccounting=True
IOWeight=5000

[Install]
WantedBy=default.target
