[Unit]
Description=SmartHomeNG daemon
After=network.target
After=knxd.service
After=knxd.socket

[Service]
Type=forking
WorkingDirectory=/usr/local/smarthome
TimeoutStartSec=1900
ExecStart=/usr/local/smarthome/venvs/py_313/bin/python3 /usr/local/smarthome/bin/smarthome.py
User=smarthome
PIDFile=/usr/local/smarthome/var/run/smarthome.pid
Restart=on-failure
RestartForceExitStatus=5
Nice=-20
IOSchedulingClass=realtime
IOSchedulingPriority=0
CPUSchedulingPolicy=rr
CPUSchedulingPriority=98
IOAccounting=True
IOWeight=5000

[Install]
WantedBy=default.target
