[Unit]
Description=Squeezelite Player
After=network.target

[Service]
ExecStart=/usr/local/bin/squeezelite.sh
TimeoutStartSec=5
TimeoutStopSec=5
User=smarthome
Group=audio
Nice=-20
IOSchedulingClass=realtime
IOSchedulingPriority=0
CPUSchedulingPolicy=rr
CPUSchedulingPriority=98
IOAccounting=True
IOWeight=5000

[Install]
WantedBy=multi-user.target
